<h3>Registration</h3>

<div class="row">
    <!--Form of registration-->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <form action="" method="post">
            <input type="text" class="form-control" name="name" placeholder="Your name" required><br>
            <input type="text" class="form-control" name="last_name" placeholder="Your last name" required><br>
            <select class="form-control" required>
                <option value="0">Choose your sex</option>
                <option value="female">Female</option>
                <option value="male">Male</option>
            </select><br>
            <select class="form-control" required>
                <option value="0">Choose your age group</option>
                <option value="18-25">18-25</option>
                <option value="25-35">25-35</option>
                <option value="35-45">35-45</option>
                <option value="45+">45+</option>
            </select><br>
            <input type="email" class="form-control" name="email" placeholder="Your email" required><br>
            <input type="text" class="form-control" name="tel" placeholder="Your telephone number" required><br>
            <button class="btn btn-primary btn-block" type="submit">Send</button>
            <button class="btn btn-default btn-block" type="clear">Reset</button>
        </form>
    </div>

    <!--About date-->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p class="text-right">There wil be information about date</p>
    </div>

    <!--Map-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>Map</p>
    </div>
</div>

